.button {
    width: 220px;
    color: white;
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border-radius: 50px;
    border-style: none;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    &:active {
        transform: scale(0.98);
    }
}
