// Import Google Fonts : police Shrikland regular 400 et Roboto regular 400 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&family=Shrikhand&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

// h1 {
//     font-family: 'Skhrikhand', sans-serif;
// }

.location {
    font-weight: bold;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

h2, .nav__subtitle, .restaurant-card__infos p {
    font-size: 18px;
}

.nav__subtitle {
    font-weight: 100;
}

.button {
    font-size: 16px;
}

.instructions__list-item {
    font-weight: bold; 
}

footer {
    color: white;
}