// Import Google Fonts : police Shrikland regular 400 et Roboto regular 400 
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Skhrikhand', sans-serif;
}

.location {
    font-size: 22px;
}

.nav {
    &__heading {
        font-size: 28px;
        font-weight: bold;
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 100;
    }
}

button {
    font-size: 20px;
}
