// ================ Colors ================

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$location-background-color: #eaeaea;
$main-background-color: #f7f7f7;
$footer-color: #353535;

// ================ Breakpoints responsive ================

$breakpoints: (
  mobile: 599px
);