footer {
    background-color: $footer-color;
    padding: 7%;
    .logo {
        filter: invert(100%);
        height: 20px;
    }

    // RESPONSIVE : desktop
    @media (min-width: 992px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        padding: 0 100px;
        height: 120px;

        .logo {
            margin-left: 100px;
        }
    }

    // RESPONSIVE : tablette
    @media (max-width: 991px) and (min-width: 768px){
        height: 50px;
        padding: 40px 100px;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    // RESPONSIVE : dektop et tablette
    @media (min-width: 768px) {
        .logo {
            width: fit-content;
        }
    }
}

footer ul {
    padding: 0;
    li {
        list-style-type: none;
        padding: 1% 0;
        a {
            text-decoration: none;
            color: white;
        } 
        
        // RESPONSIVE : desktop
        @media (min-width: 992px) {
            padding: 10px;
        }
    }

    // RESPONSIVE : desktop
    @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
    }
}

#footer__icon--partner {
    transform: rotate(-45deg);
    margin-right: 4px;
}