footer {
    background-color: $footer-color;
    padding: 7%;
    .logo {
        filter: invert(100%);
        width: 25%;
    }
}

ul {
    padding: 0;
    li {
        list-style-type: none;
        padding: 1% 0;
        a {
            all: unset;
        }   
    }
}