header {
    display: flex;
    text-align: center;
    flex-direction: column;
    .logo {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding: 5% 0;
    }
}
.location {
    background-color: $location-background-color;
    padding: 3% 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav {
    background-color: $main-background-color;
    padding: 7%;
    &__subtitle {
        margin: 5% 0;
    }
}
    