header {
    display: flex;
    text-align: center;
    flex-direction: column;
    .logo {
        height: 34px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
    }
}

.location {
    background: linear-gradient(to bottom, #d5d5d5, $location-background-color 10%);    
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    background-color: $main-background-color;
    padding: 20px;
    height: 190px;
    &__heading {
        padding: 15px 35px;
    }
    &__subtitle {
        padding: 15px 0;
    }
}

.button {
    margin: 15px 35px;
}
    
.header-menu {
    position: relative;
    text-align: center;
    &__left-icon {
        all: unset;
        display: flex;
        align-items: center;
        height: 34px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}