.restaurant {
    padding: 40px;
    background-color: $main-background-color;

    // RESPONSIVE : desktop
    @media (min-width: 992px) {
        padding: 40px 120px;
    }

    // RESPONSIVE : tablette
    @media (max-width: 991px) and (min-width: 768px){
        padding: 40px 100px;
    }

    & > div {
        // RESPONSIVE : desktop et tablette
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &-heading {
        margin-bottom: 25px;
    }

    &-card {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 15px 0px #0000001A;
        height: 245px;
        margin: 25px 0;

        // "Nouveau" en haut à droite de l'image
        position: relative;
        &__image {
            width: 100%;
            border-top-left-radius: 15px;    
            border-top-right-radius: 15px;
            height: 70%;
            object-fit: cover;
            &-text--top-right {
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 5px;
                background-color: $color-tertiary;
                color: green;
                padding: 5px 10px;
                text-align: center;
            }
        }

        &__infos {
            height: 27%;
            padding: 0 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & h2 {
                margin: 0;
            }
            & p {
                margin: 5px 0;
            }
            & .like-button--not-liked {
                background: white;
            }
        }

        // RESPONSIVE : desktop
        @media (min-width: 992px) {
            width: 40%;
            height: 280px;
        }

        // RESPONSIVE : tablette
        @media (max-width: 991px) and (min-width: 768px){
            width: 45%;
            height: 280px;
        }

    }
}

.clickable-card {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}