header {
    max-height: 400px;
}
.header-menu__img {
    //image passe derrière menu
    z-index: -1;
    max-height: 400px;
    object-fit: cover;
}

.menu {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    background-color: $main-background-color;

    // menu passe par dessus image
    margin-top: -50px;
    &__heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-title {
            padding: 20px;
        }
        & div {
            padding-right: 20px;
            & .like-button--not-liked {
                background: $main-background-color;
                padding-right: 20px;
            }
        }
    }
    &-div-h2 {
        margin: 0;
        & h2 {
            margin-left: 5%;
            width: 40px;
            font-weight: 300;
            border-bottom: 3px solid $color-tertiary;
        }
    }
    
    & h3 {
        margin: 5px 0;
    }
    & ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;

        & div {
            display: flex;
            justify-content: space-between;
        }
        & li {
            background-color: white;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin: 5px 0;
            padding: 0;
            display: flex ;
            flex-direction: row;
            & .green-bloc {
                display: none;
                width: 10%;
                background-color: $color-tertiary;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                & i {
                    color: white;
                }
            }
            & div {
                padding: 5px 10px; 
            }
            & .dish {
                width: 95%;
                height: 61px;
                display: flex;
                justify-content: space-between;
                & .dish-info {
                    display: flex ;
                    flex-direction: column;
                    width: 75%;
                    & p, h3 {
                        // Ajoute les ... quand le texte est trop long
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }      
                } 
                & .dish-price {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    font-weight: bold;
                    width: 15%;
                }
                &:hover {
                    // Réduit la largeur pour que ça donne l'impression que le bloc vert pousse le texte
                    width: 87%;    
                    & + .green-bloc {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: 5%;  
                        height: 61px;
                        & i {
                            animation: check 0.4s;
                        }
                    }    
                }  
            }   
        }
    }

    // RESPONSIVE : desktop
    @media (min-width: 992px) {
        margin: 0 120px;
        width: auto;
        padding: 0 120px;
        ul li {
            & .dish:hover {
                // Réduit la largeur pour que ça donne l'impression que le bloc vert pousse le texte
                & + .green-bloc {
                    right: 240px  
                }    
            }  
        }
    }

    // RESPONSIVE : tablette
    @media (max-width: 991px) and (min-width: 768px) {
        margin: 0 50px;
        width: auto;
        padding: 0 50px;
        ul li {
            & .dish:hover {
                // Réduit la largeur pour que ça donne l'impression que le bloc vert pousse le texte
                & + .green-bloc {
                    right: 100px  
                }    
            }  
        }
    }

    // // RESPONSIVE : tablette
    // @media (max-width: 991px) and (min-width: 768px){
    //     margin: 0 50px;
    //     width: auto;
    //     padding: 0 50px;
    //     ul li {
    //         & .dish:hover {
    //             // Réduit la largeur pour que ça donne l'impression que le bloc vert pousse le texte
    //             & + .green-bloc {
    //                 right: 100px  
    //             }    
    //         }  
    //     }
    // }

    // RESPONSIVE : desktop et tablette
    @media (min-width: 768px) {
        &__heading {
            padding-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ul li {
            & .green-bloc { 
                display: none;
                width: 40px;
            }
        }
    }
}

@keyframes check {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Animation : Affichage progressif du menu
$animation-duration: 1s;
$animation-transition: 200ms;
$nb-max-items: 14;
.drop-in {
    animation: drop-in $animation-duration ease $animation-transition backwards;
}

@for $i from 2 through $nb-max-items {
    $animation-duration: $animation-duration + 0.5s;
    $animation-transition: $animation-transition + 0.2s;

    #{'.drop-in-'+$i} {
        animation: drop-in $animation-duration ease $animation-transition backwards;
    }   
}

@keyframes drop-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.command {
    display: flex;
    justify-content: center;
}
