header {
    max-height: 400px;
}
.header-menu__img {
    //image passe derrière menu
    z-index: -1;
}

.menu {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 98%;
    padding: 5px;
    background-color: $main-background-color;

    // menu passe par dessus image
    margin-top: -50px;
    &__heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-title {
            padding: 20px;
        }
        & div .like-button--not-liked {
            background: $main-background-color;
        }
    }
    & h2 {
        font-weight: 300;
    }
    & h3 {
        margin: 5px 0;
    }
    & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        & div {
            display: flex;
            justify-content: space-between;
        }
        & li {
            background-color: white;
            width: 85%;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin: 5px 0;
            padding: 0;
            display: flex ;
            flex-direction: row;
            justify-content: space-between;
            & .green-bloc {
                display: none;
                background-color: green;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
            & div {
                padding: 5px 10px; 
            }
            & .dish {
                width: 100%;
                & .dish-info {
                    display: flex ;
                    flex-direction: column;             
                } 
                & .dish-price {
                    display: flex;
                    align-items: flex-end;
                    font-weight: bold;
                }
                &:hover + .green-bloc {
                    display: inline-flex;
                }  
            }
            
        }
    }
}


      
.dish-info:hover + .green-bloc {
    // display: block;
}

// Animation : Affichage progressif du menu
$animation-duration: 1s;
$animation-transition: 200ms;
.drop-in {
    animation: drop-in $animation-duration ease $animation-transition backwards;
}

@for $i from 2 through 14 {
    $animation-duration: $animation-duration + 0.5s;
    $animation-transition: $animation-transition + 0.2s;

    #{'.drop-in-'+$i} {
        animation: drop-in $animation-duration ease $animation-transition backwards;
    }   
}

@keyframes drop-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.command {
    display: flex;
    justify-content: center;
}
